.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 300px;
}
.match-lists {
  width: 25%;
}
.match-working-area {
  margin-top: 20px;
  width: 60%;
  border: 1px solid var(--button-color);
}
.order-container {
  margin-top: 25px;
  width: 100%;
  border: 1px solid var(--button-color);
  list-style-type: none;
  padding-left: 5px;
}
.order-title-group {
  margin: 10px 0;
  width: 100%;
}
.order-title {
  width: 100%;
  text-align: center;
}
.button-group {
  margin: 20px 0;
}
.team-container {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* This aligns the button and text vertically */
  margin-bottom: 10px; /* Optional, for spacing between team entries */
}
.schedule-matchups {
  margin-top: 10px;
}
.set-team-button {
  margin-top: 25px;
}

.indent {
  margin-left: 25px;
}
.finished-table {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Three columns: equal size for teams, auto for 'vs.' */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 80%;
  margin-left: 25px;
}

.table-number {
  margin-top: 10px;
  grid-column: 2; /* Align the table number with the 'vs.' column */
  text-align: center; /* Center the text */
}
.vs {
  grid-column: 2; /* Align the table number with the 'vs.' column */
  text-align: center; /* Center the text */
}
.home {
  grid-column: 1; /* Align the table number with the 'vs.' column */
  text-align: center; /* Center the text */
}
