.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  max-width: 50%;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button,
.login-form .toggle-password {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button {
  border: none;
  background-color: #007bff;
  color: white;
}

.login-form .toggle-password {
  background: none;
  border: none;
  color: #007bff;
  font-size: 0.9em;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  max-width: 50%;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button,
.login-form .toggle-password {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button {
  border: none;
  background-color: #007bff;
  color: white;
}

.login-form .toggle-password {
  background: none;
  border: none;
  color: #007bff;
  font-size: 0.9em;
}

.login-form .forgot {
  font-size: '12px';
}

